body {
 margin: 0;
 font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 color: #212529;
 background-color: #fff;
 -webkit-text-size-adjust: 100%;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.container {
 top: 80px;
 width: 600px;
 align-items: center;
 padding: 3px;
 display: inline-flex;
 align-self: center;
 position: relative;
 display: block;
 align-items: center;
 text-align: center;
}

.title {
 padding-bottom: 0px;
}

.input-search {
 padding-bottom: 15px;
}

.justify-content-lg-center {
 padding-bottom: 0px;
}

.dutch {
 padding-bottom: 480px;
}

.form-control {
 padding-left: 40px;
 width: 595px;
 border-radius: 20px;
 font-size: 19px;
}

.icon {
 position: absolute;
 left: 17px;
 bottom: 27px;
}

.btn-light {
 font-size: 14px;
}

.footer {
 font-size: 14px;
}

.foot {
 background-color: #F2F3F4;
}

@media (max-width: 1399.98px) {
 .modal-fullscreen-xxl-down {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
 }

 .modal-fullscreen-xxl-down .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
 }

 .modal-fullscreen-xxl-down .modal-header {
  border-radius: 0;
 }

 .modal-fullscreen-xxl-down .modal-body {
  overflow-y: auto;
 }

 .modal-fullscreen-xxl-down .modal-footer {
  border-radius: 0;
 }
}

.hr {
 padding-bottom: -5px;
 padding-top: -5px;
}