body {
 margin: 0;
 font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 height: 100vh;
 color: #212529;
 background-color: #fff;
 -webkit-text-size-adjust: 100%;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container-fluid {
 margin: 0;
}


.container {
 top: 80px;
 width: 600px;
 align-items: center;
 padding: 3px;
 display: inline-flex;
 align-self: center;
 position: relative;
 display: block;
 align-items: center;
 text-align: center;
}

.title-search {
 padding-bottom: 0px;
}

.images {}

.input-search {
 padding-bottom: 15px;
}

.justify-content-lg-center {
 padding-bottom: 0px;
}

.dutch {
 padding-bottom: 480px;
}

.form-control {
 padding-left: 40px;
 width: 595px;
 border-radius: 20px;
 font-size: 19px;
}

.icon {
 position: absolute;
 left: 17px;
 bottom: 27px;
}

.btn-light {
 font-size: 14px;
}

.footer {
 font-size: 14px;
 margin: 0;
}

.foot {
 background-color: #F2F3F4;
}

.hr {
 padding-bottom: -5px;
 padding-top: -5px;
}

.dutch {
 margin-bottom: 4%;
}

.camera {
 position: absolute;
 right: 20px;
 bottom: 23.5px;
 width: 25px;
 height: 25px;
}

.camera:hover {}

.thumbnail {
 width: 20px;
 height: 20px;
 margin-right: 10px;
}

.login {
 padding: 1px 12px 1px 12px;
 border-radius: 2px;
 opacity: 0.9;
 font-size: 14px;
 font-weight: bold;
}

.top {
 font-size: 14px;
}