{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}

<style>

</style>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor%}
    {% endif%}
{% endwith %}

    <!--
        <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png" title="{{ top }}">
    -->
{% endblock %}
