nav .navbar-brand {
  /* size for brand */
  font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}
nav .navbar-brand .green {
  color: #2e944b;
}

main .form-control {
  /* center form controls */
  display: inline-block;

  /* override Bootstrap's 100% width for form controls */
  width: auto;
}

main {
  /* scroll horizontally as needed */
  overflow-x: auto;

  /* center contents */
  text-align: center;
}

main img {
  /* constrain images on small screens */
  max-width: 100%;
}

main table {
  text-align: left;
}

main tfoot {
  font-weight: bold;
}

body {
  margin-bottom: 10px;
}

.home-bt {
  font-weight: normal;
}

.small {
  font-size: 10px;
}

.btn-primary {
  border-width: 1px;
  background-color: #eaecee;
  padding: 5px 40px;
  color: #000;
  font-size: 16px;
  margin: 0px 2px;
  opacity: 0.8;
  transition: 0.3s;
  font-weight: normal;
}

.btn-primary:hover {
  opacity: 1;
  font-weight: normal;
}

.register {
  margin-top: 15%;
}

.register,
login,
p {
  font-size: 30px;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.input-group {
  width: 300px;
  margin-left: 35%;
}

.form-control {
  font-weight: lighter;
  font-size: 18px;
}

.login {
  margin-top: 15%;
  align-self: center;
}

.stock-info {
  margin-top: 10%;
  margin-left: 34%;
}

.stock-foot p {
  margin-left: -50%;
  font-size: smaller;
}
