{% extends 'base.html' %}

{% block head %} 
<title>Edit Post</title>
{% endblock %}

{% block body %} 
<h1>Editing Post</h1>

<hr>
<h2>Edit:</h2>
<form  action="/home/post/edit/{{post.id}}" method="POST">
    <label for="content">Title</label>
    <input class="form-control mr-sm-2" type="text" name="title" id="title" value="{{post.title}}" aria-label="Search">
    <br>
    <label for="content">Author</label>
    <input class="form-control mr-sm-2" type="text" name="author" id="author" value="{{post.author}}" aria-label="Author">
    <br>
     <!--<input class="form-control mr-sm-2" type="text" name="content" id="content" placeholder="Content" aria-label="Search">-->

     <label for="content">Post</label>
     <textarea class="form-control" name="content" id="content" rows="3" placeholder=" Enter Content">{{post.content}}</textarea>
    <br>
    <input class="btn btn-secondary" type="submit" value="Save">
</form>
<hr>

{% endblock %}