{% extends 'base.html' %}

{% block head %} 
<title>Edit Post</title>
{% endblock %}

{% block body %} 
<h1>Editing Post</h1>

<hr>
<h2>Edit:</h2>
<form  action="/post/edit/{{post.id}}" method="POST">
    Title: 
    <input class="form-control mr-sm-2" type="text" name="title" id="title" placeholder="Title" aria-label="Title" value="{{post.title}}">
    <br>
    Post: 
    <input class="form-control mr-sm-2" type="text" name="content" id="content" placeholder="Content" aria-label="Content" value="{{post.content}}">
    <br>
    Author: 
    <input class="form-control mr-sm-2" type="text" name="author" id="author" placeholder="Author" aria-label="Author" value="{{post.author}}">
    <br>
    <input type="submit" value="Save">
</form>
<hr>

{% endblock %}