{% extends 'base.html' %}

{% block head %} 
<title>Homepage</title>
{% endblock %}


{% block body %} 

<div style="margin-top: 10%;">
<h1 style="display: inline;">Home Page</h1>
<a style="display: inline;" href="/login" class="btn btn-info float-right">Login</a>
</div>
<Hr>
<div class="jumbotron" style="margin-top: 10rem;">
 <div class="col-sm-8 mx-auto">
   <h1>Welcome</h1>
   <p>This example is a quick exercise to illustrate how the to_do application works. </p>
   <ol>
     <li>Click the <a href='/post'>Post</a> to go to the Post page.</li>
     <li>Fill in your to do item.</li>
     <li>Click on post to finish.</li>
   </ol>
     <a class="btn btn-primary" href="/post" role="button">To Do List &raquo;</a>
   </p>
 </div>
</div>

{% endblock %}