{% extends 'base.html' %}

{% block head %} 
<title>Post</title>
{% endblock %}

{% block body %} 

<div>
    <br><br><br>
    <h2 style="display: inline;">All Posts</h2>
    <a style="display: inline;" class="btn btn-success float-right" href="/home/post/new">+ New Post</a>
    <br>
</div>

<!-- 
<form  action="/post" method="POST">
    <label for="content">Title</label>
    <input class="form-control mr-sm-2" type="text" name="title" id="title" placeholder="Title" aria-label="Search">
    <br>
    <label for="content">Author</label>
    <input class="form-control mr-sm-2" type="text" name="author" id="author" placeholder="Enter Author" aria-label="Author">
    <br>
     <!--<input class="form-control mr-sm-2" type="text" name="content" id="content" placeholder="Content" aria-label="Search">-->
<!--
     <label for="content">Post</label>
     <textarea class="form-control" name="content" id="content" rows="3" placeholder=" Enter Content"></textarea>
    <br>
    <input class="btn btn-secondary" type="submit" value="Post">
</form> 
-->
<hr>

{% for line in posting %}

    <!-- <h1>{{line.id}}</h1> -->
    <br>
    <h2>{{ line.title }}</h2>

    {% if line.author %}
        <small>Written By: {{ line.author }} on {{ line.date }}</small>
    {% else %}
        <small>Written By: Unknown on {{ line.date }}</small>
    {% endif %}

    <p style="white-space: pre-wrap;">{{ line.content }}</p>
    <a class="btn btn-danger"  href="{{url_for('delete',id=line.id)}}">Delete</a>
    <a class="btn btn-primary" href="{{url_for('edit',id=line.id)}}">Edit</a>
    <!-- <h3>{{ line.date }}</h3> -->
    <hr>
{% endfor %}
<br>


{% endblock %}