{% extends 'base.html' %}

{% block head %} 
<title>Register</title>
{% endblock %}


{% block body %} 

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor%}
    {% endif%}
{% endwith %}

<style>
  .register{
    margin-top: 20%;
    margin-left: 24%;
    width: 50%;
    height: 20%;
    padding: 5%;
    border-radius: 2%;
    padding-left: 12%;
  }
</style>

<div class="container register">
 <form action="/register" method="POST">  
  <h2 style="margin-left: 13%; color: silver;"><b>Register Here</b></h2><br>
  <div class="input-group flex-nowrap" style="width: 300px;">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-badge-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
        </svg></span>
    </div>
      <input type="text" class="form-control" placeholder="Full Name" id="name" name="name" aria-label="Full Name" aria-describedby="addon-wrapping" required>
  </div><br>

  <div class="input-group flex-nowrap" style="width: 300px;">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zm4.854-7.85a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
        </svg></span>
    </div>
      <input type="text" class="form-control" placeholder="Username" id="username" name="username" aria-label="Username" aria-describedby="addon-wrapping" required>
  </div><br>

  <div class="input-group flex-nowrap" style="width: 300px;">
    <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
        </svg></span>
    </div>
      <input type="email" class="form-control" placeholder="Email" id="email" name="email" aria-label="Email" aria-describedby="addon-wrapping" required>
  </div><br>

  <div class="input-group flex-nowrap" style="width: 300px;">
    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-key" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
      <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg></span>
    </div>
      <input type="password" class="form-control" placeholder="Password" id="password" name="password" aria-label="Password" aria-describedby="addon-wrapping" required>
  </div><br>

  <div class="input-group flex-nowrap" style="width: 300px;">
    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-key" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
      <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg></span>
    </div>
      <input type="password" class="form-control" placeholder="Confirm Password" id="confirm" name="confirm" aria-label="COnfirm" aria-describedby="addon-wrapping" required>
  </div><br>

<button style="width: 300px" class="btn btn-lg btn-primary btn-block" type="submit">Register</button><br>
<p style="font-size: small; margin-left: 15%;">Already registered? <a href="/login">Login Here</a></p>
<p style="margin-left: 30%; font-weight: bold; font-size: small; color: black;" class="mt-5 mb-3 text-muted">&copy; 2020</p>
 </form>

</div>


{% endblock %}